.card {
  background: var(--background-secondary);
  border-radius: 10px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-content {
  padding: 1rem;
}
.buttons > * {
  width: 50%;
  padding: 1rem;
}
