
.card {
  background: var(--background-secondary);
  border-radius: 10px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.card-content {
  padding: 1rem;
}
button {
  width: 50%;
  padding: 1rem;
}
table {
  width: 100%;
  border-collapse: collapse;
}
caption {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.25);
}
table td,
table tr {
  text-align: left;
}

tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
}
tr:nth-child(odd) {
  background-color: rgb(228, 228, 228);
}
