table {
  width: 100%;
  border-collapse: collapse;
}
caption {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.25);
}
table td,
table tr {
  text-align: left;
}

tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
}
tr:nth-child(odd) {
  background-color: rgb(228, 228, 228);
}
